<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>History</title>
</head>
<body>
<p th:text="${'Id: ' + history.getId()}">VALUE</p>
<p th:text="${'Sender: ' + history.getSenderId()}">VALUE</p>
<p th:text="${'Recipient: ' + history.getRecipientId()}">VALUE</p>
<p th:text="${'Balance: ' + history.getBalance()}">VALUE</p>


<a th:href="@{/historys/{id}/edit(id=${history.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/historys/{id}(id=${history.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>