<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update card</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/cards/{id}(id=${card.getId()})}" th:object="${card}">
    <label for="balance">Enter amount : </label>
    <input type="text" th:field="*{balance}" id="balance"/>
    <div style="color:red" th:if="${#fields.hasErrors('balance')}" th:errors="*{balance}">Amount Error</div>

    <br/>

    <input type="submit" value="Refill"/>
</form>

</body>
</html>