<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Card</title>
</head>
<body>
<p th:text="${'Id: ' + card.getId()}">VALUE</p>
<p th:text="${'CardNumber: ' + card.getCardNumber()}">VALUE</p>
<p th:text="${'Balance: ' + card.getBalance()}">VALUE</p>

<a th:href="@{/cards/{id}/edit(id=${card.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/cards/{id}(id=${card.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>